spring:
  application:
    name: employee-service

  datasource:
    url: jdbc:postgresql://pg-60793c8-inheritcloud-3f71.l.aivencloud.com:17270/defaultdb?sslmode=require
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

    properties:
      security.protocol: SASL_SSL
      sasl.mechanism: PLAIN
      sasl.jaas.config: >
        org.apache.kafka.common.security.plain.PlainLoginModule required
        username="${KAFKA_USERNAME}"
        password="${KAFKA_PASSWORD}";
      ssl.truststore.type: PEM
      ssl.truststore.location: ${KAFKA_CA_PEM_PATH}

kafka:
  topics:
    email: employee.email.notification.v1

notification:
  employee:
    manager-email: jeganlingam1804@gmail.com


server:
  port: 9093

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,beans,mappings
  endpoint:
    health:
      show-details: always
